{% if metadata -%}
Report for {{ metadata.component.group }}:{{ metadata.component.name }}:{{ metadata.component.version }}
{% endif -%}

{% if components -%}
Component count: {{ components | length }}
{% endif -%}

{% if vulnerabilities -%}
{% for vuln in vulnerabilities -%}
* {{ vuln['bom-ref'] }} - {{ vuln.recommendation }}
{% endfor -%}
{% else -%}
🏆 No vulnerabilities found 🎉
{% endif -%}