[project]
name = "owasp-depscan"
version = "6.0.0"
description = "Fully open-source security audit for project dependencies based on known vulnerabilities and advisories."
authors = [
    {name = "Team AppThreat", email = "cloud@appthreat.com"},
]
dependencies = [
    "appthreat-vulnerability-db",
    "custom-json-diff",
    "defusedxml",
    "oras==0.1.30",
    "PyYAML",
    "rich",
    "PyGithub",
    "toml",
    "pdfkit",
    "Jinja2",
    "packageurl-python",
    "cvss",
]

requires-python = ">=3.10"
readme = "README.md"
license = {text = "MIT"}
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Security",
    "Topic :: Utilities",
]

[project.urls]
Homepage = "https://github.com/owasp-dep-scan/dep-scan"
Bug-Tracker = "https://github.com/owasp-dep-scan/dep-scan/issues"
Funding = "https://owasp.org/donate/?reponame=www-project-dep-scan&title=OWASP+depscan"

[project.scripts]
depscan = "depscan.cli:main"
scan = "depscan.cli:main"

[project.optional-dependencies]
dev = ["black",
    "flake8",
    "pytest",
    "pytest-cov",
    "httpretty"
]
server = ["quart"]
perf = ["hishel[redis]"]
all = ["quart", "hishel[redis]"]

[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true
packages = ["depscan", "depscan.lib", "depscan.lib.package_query", "vendor"]

[tool.pytest.ini_options]
addopts = "--verbose --cov-append --cov-report term --cov depscan"

[tool.flake8]
ignore = "E203, E266, E501, W503, W605"
max-line-length = 99
max-complexity = 18
select = "B,C,E,F,W,T4,B9"

[tool.black]
line-length = 99

[tool.uv.sources]
appthreat-vulnerability-db = { git = "https://github.com/appthreat/vulnerability-db", rev = "a1d8610ae10e2eea7b5492c84b33e628a4b62617" }
