[project]
name = "ds-xbom-lib"
version = "6.0.0b5"
description = "xBOM library for owasp depscan"
authors = [
    {name = "Team AppThreat", email = "cloud@appthreat.com"},
]

requires-python = ">=3.10"
readme = "README.md"
license = "MIT"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Security",
    "Topic :: Utilities",
]

[project.urls]
Homepage = "https://github.com/owasp-dep-scan/dep-scan"
Bug-Tracker = "https://github.com/owasp-dep-scan/dep-scan/issues"
Funding = "https://owasp.org/donate/?reponame=www-project-dep-scan&title=OWASP+depscan"

[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"
