[project]
name = "ds-server-lib"
version = "6.0.0b5"
description = "Server library for owasp depscan"
authors = [
    {name = "Team AppThreat", email = "cloud@appthreat.com"},
]
dependencies = [
    "appthreat-vulnerability-db>=6.4.4",
    "custom-json-diff>=2.1.6",
    "quart>=0.20.0",
    "rich>=13.9.4",
    "ds-analysis-lib"
]

requires-python = ">=3.10"
readme = "README.md"
license = "MIT"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Topic :: Security",
    "Topic :: Utilities",
]

[project.optional-dependencies]
dev = [
    "pytest>=8.3.4",
    "pytest-asyncio>=1.2.0",
    "pytest-cov>=6.0.0",
]

[project.urls]
Homepage = "https://github.com/owasp-dep-scan/dep-scan"
Bug-Tracker = "https://github.com/owasp-dep-scan/dep-scan/issues"
Funding = "https://owasp.org/donate/?reponame=www-project-dep-scan&title=OWASP+depscan"

[build-system]
requires = ["setuptools>=61", "wheel"]
build-backend = "setuptools.build_meta"

[tool.uv.sources]
ds-analysis-lib = { workspace = true }

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-q -s --verbose --cov-append --cov-report term --cov server_lib"
testpaths = [
    "tests"
]
asyncio_mode = "auto"
