name: binary tests

on:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
      fail-fast: true
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Trim CI agent
      run: |
        chmod +x contrib/free_disk_space.sh
        ./contrib/free_disk_space.sh
    - uses: oras-project/setup-oras@v1
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install dependencies
      run: |
        uv sync --all-extras --all-packages --dev
        npm install -g @cyclonedx/cdxgen
    - name: Test binaries
      run: |
        mkdir -p ${RUNNER_TEMP}/bintests ${RUNNER_TEMP}/blintdb
        curl -LO https://github.com/pkgforge/soar/releases/download/v0.5.13/soar-x86_64-linux
        chmod +x soar-x86_64-linux
        mv soar-x86_64-linux /usr/local/bin/soar
        soar install altair
        soar install rclone
        soar install rustscan
        uv run depscan --no-banner --src ${HOME}/.local/share/soar/bin --reports-dir ${GITHUB_WORKSPACE}/bintests -t binary
        ls -lh ${GITHUB_WORKSPACE}/bintests
        rm -rf ${HOME}/.local/share/soar ${VDB_HOME} ${RUNNER_TEMP}/cdxgen-temp
      env:
        BLINTDB_IMAGE_URL: "ghcr.io/appthreat/blintdb-meson:v1"
        BLINTDB_HOME: ${{ runner.temp }}/blintdb
        VDB_HOME: ${{ runner.temp }}/vdb_data_bin
        CDXGEN_TEMP_DIR: ${{ runner.temp }}/cdxgen-temp
        SCAN_DEBUG_MODE: debug
        VDB_DATABASE_URL: "ghcr.io/appthreat/vdbxz-app-2y:v6.5.x"
