name: Repo tests Java

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

jobs:
  os-repo-tests:
    env:
      VDB_DATABASE_URL: "ghcr.io/appthreat/vdbxz-app-2y:v6.5.x"
    strategy:
      fail-fast: true
      matrix:
        os: ['ubuntu-24.04']
        python-version: ['3.13']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: 'hoolicorp/java-sec-code'
          path: 'repotests/java-sec-code'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: '23.x'
      - name: Trim CI agent
        run: |
          chmod +x contrib/free_disk_space.sh
          ./contrib/free_disk_space.sh
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install depscan
        run: |
          uv sync --all-extras --all-packages --dev
          npm install -g @cyclonedx/cdxgen
      # LifeCycleAnalyzer tests
      - name: lifecycle-test java-sec-code
        run: |
          mkdir -p ${GITHUB_WORKSPACE}/depscan_reports/java-sec-code-lifecycle
          uv run depscan --src ${GITHUB_WORKSPACE}/repotests/java-sec-code\
                          --reports-dir ${GITHUB_WORKSPACE}/depscan_reports/java-sec-code-lifecycle\
                          -t java\
                          --vulnerability-analyzer LifecycleAnalyzer
        shell: bash
        env:
          BLINTDB_HOME: ${{ runner.temp }}/blintdb-home
